<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todas las tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size-lg="11">
      <ion-item >
        <ion-label position="floating">Nueva tarea </ion-label>
        <ion-input [(ngModel)]="task"></ion-input>
      </ion-item>      
    </ion-col>
    <ion-col size-lg="1">
      <ion-button (click)="addTask()" *ngIf="task != ''">
        <ion-icon name="add"></ion-icon>
    </ion-button>
    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list *ngIf="tasks.length > 0">
        <ion-item-sliding *ngFor="let item of tasks;let i=index">
          <ion-item-options side="start" (ionSwipe)="completeTask(i)">
            <ion-item-option expandable color="success" >
              <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item>
            <ion-label>{{item}}</ion-label>
            <ion-button (click)="favoriteTask(i)" expand="block" shape="round" color = "light" fill="clear">
              <ion-icon name="star-outline" color="warning"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item-options side="end" (ionSwipe)="removeTask(i)">
            <ion-item-option expandable color="danger" >
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>          
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
